@import 'variables&classes';
.bill{
  position: fixed;
  bottom: 10px;
  right: 0;
  height: 50px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  line-height: 26.3px;
}
.wave{
  aspect-ratio: 1;
  background: $red ;
  --m: conic-gradient(from -45deg at bottom,#0000,#000 1deg 86deg,#0000 90deg) bottom/10px 51% repeat-x, conic-gradient(from 135deg at top ,#0000,#000 1deg 89deg,#0000 90deg) top /10px 51% repeat-x;
  -webkit-mask: var(--m);
  mask: var(--m);
}

.product-card{
  height: 100%;
  border-radius: unset;
}