<div fxLayout="row wrap" class="content" *ngIf="categoriesService.products.length > 0; else noproducts">
  <div fxFlex="20%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let product of categoriesService.products"
    (click)="selectProduct(product)" class="product m-0">
    <mat-card class="mat-elevation-z4 product-card"
      [ngStyle]="{'background-color': product.backgroundColor, 'box-shadow': product.boxShadow ? product.boxShadow: 'unset'}">
      <mat-card-content>
            <span class="product-first-letter">{{ categoriesService.getFirstLetter(product.name)|titlecase }}</span>
            <div class="price">
              <div class="product-price">{{product.unitPrice}} <span class="price-currency">&nbsp; lekë</span></div>
            </div>
            <div class="product-name">
              {{product.name}}
            </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noproducts>
  <div *ngIf="categoriesService.isPageVisible" layout="row" class="products">
    <h2 class="text-center mt-3">Kjo kategori nuk ka asnje produkt!</h2>
  </div>
</ng-template>

<div class="d-flex justify-content-end" *ngIf="categoriesService.selectedProducts.length>0" (click)="openModal()">
  <div class="bill m-2 wave">{{categoriesService.productCounter}}</div>
</div>