<div class="list">
  <div class="row mb-2" *ngFor="let product of data.productsSelected">
    <div class="col-6 d-flex align-items-center">
      <small class="text-end title w-100">{{product.name | uppercase}}</small>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="product-quantity text-center">
        <small class="sum">{{product.quantity}}</small>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center product-price">
      <small class="text-end w-100">{{product.price}}</small>
      
    </div>

  </div>

  <hr class="m-0 horizontal">

  <div class="row my-2">
    <div class="col-6 text-end title">TOTALI</div>
    <div class="col-4"></div>
    <div class="col-2 text-end product-price">{{data.totalPrice}}</div>
  </div>


</div>
<div mat-dialog-actions class="pb-4">
  <button mat-button class="btn-send" (click)="openDialogModal()">DЁRGO FATURЁN</button>
</div>