<div class="m-3">
  <div mat-dialog-content class="p-2">
    <div layout="row">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title class="title pe-3">Hey</mat-card-title>
          <div class="d-flex align-items-center product-quantity">200</div>
          <div class="d-flex align-items-center product-price ps-3">200</div>
        </mat-card-header>
      </mat-card>
    </div>
    
    
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn-send" (click)="openDialogModal()">Ok</button>
  </div>
</div>
