/* You can add global styles to this file, and also import other style files */
@import 'variables&classes';
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --text-color: #333333;
    --bkg-color: white;
    --nav-bkg-color: white; 
    --dark-mode-switch: rotate(45deg);
    --color-red: #F44242;
}
body.dark-theme {
    --text-color: white;
    --bkg-color: rgba(0,0,0,0.5);
    --nav-bkg-color:#cccccc;
    --dark-mode-switch: rotate(225deg);
    --color-red: #0bbdbd;
}

body {
  background-color: var(--bkg-color);
}